<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikita Smolenskyi</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <header>
        <h1>Nikita Smolenskyi</h1>
        <h3>Trainee / Junior Python Developer</h3>
    </header>
    <main>
        <div class="mail">
            <img src="../icons/mail.svg">
            <p></p>
        </div>
        <div class="phone">
            <img src="../icons/phone.svg">
        </div>
        <div class="linkedin">
            <img src="../icons/linedin.svg">
        </div>
        <div class="github">
            <img src="../icons/github.svg">
        </div>
        <div class="facebook">
            <img src="../icons/facebook.svg">
        </div>
    </main>
</body>
</html>